.navbar {
  height: 80px;
  padding: 0 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  border-bottom: 1px solid #eee;
}

.navbar-logo {
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 3px;
  color: #222;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 50px;
  list-style: none;
}

.navbar-links a {
  text-decoration: none;
  color: #222;
  font-size: 0.95rem;
  font-weight: 400;
  transition: 0.3s;
}

.navbar-links a:hover {
  opacity: 0.6;
}

.menu-btn {
  display: none;
  background: transparent;
  border: none;
  font-size: 1.7rem;
  cursor: pointer;
  color: #222;
}

@media (max-width: 768px) {
   .navbar-links {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background: white;
    z-index: 999;
    padding: 10px;

    display: flex;
    flex-direction: column;

    transform: translateY(-150%);
    transition: transform 0.3s ease;
  }

  .navbar-links.active {
    transform: translateY(0);
  }

  .menu-btn {
    display: block;
  }
}